a{
    text-decoration: none;
    text-transform: uppercase;
    font-family:arial;
    color:rgb(85, 85, 85);
    font-weight: bold;
    display: block;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;


}


a:hover{
    background-color: rgb(207, 244, 245);
    color: rgb(42, 73, 34);
    transition: 0.3s;


}

nav{
    width: 15vw;
    padding: 10px;
    margin-top: 15px;
    min-height: 80vh;

}


@media(max-width:640px){
    div.wrapper{
        flex-direction: column;
    }
    div.wrapper nav{
        min-height: 50px;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin: 0px;
    }
    div.wrapper nav a{
        font-size: 13px;
        border: 1px solid gray;;
    }
    
    
}